@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container-fluid" >
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ret</th>
                <th scope="col">Medlem</th>
                <th scope="col">Tid</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
     
              
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
              
               
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
            
            </tr>
        </tbody>
</div>