@{
    ViewBag.Title = "Afventer";
}

<div class="container-fluid" id="indexContainer">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-header" style="display:flex; justify-content: space-between;">
                    <h5>Prisoner</h5><h5>24601</h5>
                </div>
                <img src="~/Content/iu1eBbs.jpg" class="card-img-top" alt="...">
                <h5 class="card-header">Madret</h5>
                <div class="card-body" style="padding:0px;">
                    <a href="#" class="btn btn-primary " style=" padding: 0px; height:54px; width: 100% ; display:flex; justify-content:center; align-items:center;"><i class="bi bi-check" style="font-size: 4em;"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    @@media (max-width: 769px) {
        #indexContainer {
            margin-top: 10%;
        }
    }

    @@media (min-width: 769px) {
        #indexContainer {
            margin-top: 5%;
        }
    }
</style>