@{
    ViewBag.Title = "Udleveret";
}

<div class="container-fluid" id="indexContainer">
    
    <form class="row">
        <input class="form-control me-2" type="search" placeholder="Søg efter medlem" aria-label="Search" id="søgInput">
        <button class="btn " type="submit"  id="søgBtn">Søg</button>
    </form>


    <table class="table" style=" margin-top: 2%;">
        <thead >
            <tr style="background-color: #fff;">
                <th scope="col">Ret</th>
                <th scope="col">Medlem</th>
                <th scope="col">Tid</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Svensk Pølseret</td>
                <td>Mark</td>
                <td>09:55</td>


            </tr>
            <tr>
                <td>Lasagne</td>
                <td>Jacob</td>
                <td>09:55</td>

            </tr>
            <tr>
                <td>Pariserbøf</td>
                <td >Larry the Bird</td>
                <td>09:55</td>
            </tr>
        </tbody>
    </table>

   
</div>

<style>
    
    #indexContainer {
        padding-left: 10%;
        padding-right: 10%;
       
    }

    #søgBtn {
        color: #8da47e;
        border-color: #8da47e;
    }

    @@media (min-width: 769px) {
        #indexContainer {
            margin-top: 5%;
        }

        #søgInput {
            width: 91%;
        }

        #søgBtn {
            width: 8%;
        }
    }

    @@media (max-width: 769px) {
        #indexContainer {
            margin-top: 10%;
        }

        #søgInput {
            width: 90%;
        }

        #søgBtn {
            width: auto;
        }
    }

    @@media (max-width: 769px) {
        #indexContainer {
            margin-top: 10%;
        }

        #søgInput {
            width: 90%;
        }

        #søgBtn {
            width: auto;
        }
    }

    @@media (max-width: 760px) {
        #søgInput {
            width: 89%;
        }
    }

    @@media (max-width: 600px) {
        #søgInput {
            width: 87%;
        }
    }

    @@media (max-width: 500px) {
        #søgInput {
            width: 84%;
        }
    }

    @@media (max-width: 426px) {
        #søgInput {
            width: 81%;
        }
    }

    @@media (max-width: 375px) {
        #søgInput {
            width: 79%;
        }
    }

    tbody {
        border-right: 2px solid black;
        border-left: 2px solid black;
        
    }

    tr:nth-last-child(1) {
        border-bottom: 2px solid black;
    }

    tr:nth-child(2n+1) {
        background-color: #e7cba9;
    }
</style>